services:
  nginx:
    build:
      context: ./srcs/requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    restart: on-failure
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress
    env_file:
      - .env
  
  mariadb:
    build:
      context: ./srcs/requirements/mariadb
    container_name: mariadb
    restart: on-failure
    networks:
      - inception
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env

  wordpress:
    build:
      context: ./srcs/requirements/wordpress
    container_name: wordpress
    restart: on-failure
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    env_file:
      - .env

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/nassy/42tokyo/Lv5/inception/inception/volumes/mariadb
    # device: /home/snakajim/data/mariadb #これが正規の位置
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/nassy/42tokyo/Lv5/inception/inception/volumes/wordpress
    # device: /home/snakajim/data/wordpress
